.btn {
  -webkit-appearance: none;
  border-radius: 0;
  position: relative;
  color: $colorBlack;
  border: 1px solid transparent;
  display: inline-block;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  padding: 18px 20px;
  overflow: hidden;

  @include responsive1279 {
    padding: 15px 20px;
  }

  @include responsive767 {
    font-size: 14px;
    line-height: 16px;
    padding: 13px 15px;
  }

  &-gradient {
    transition: all 0.3s;
    color: $colorWhite;
    background-color: $colorYellow;

    border-radius: 5px;

    &:hover {
      transform: scale(0.95);
    }
  }

  @include before {
    position: absolute;
    top: -20px;
    height: calc(100% + 40px);
    width: 50px;
    transform: skewX(-45deg);

    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.4)
    );
    animation: flareAnimation 1.3s infinite linear;
    left: -150%;
  }
}

@keyframes flareAnimation {
  0% {
    left: -150%;
    filter: blur(0px);
  }
  100% {
    left: 150%;
    filter: blur(15px);
  }
}
